.main-col {
  position: absolute;
  margin-left: auto !important;
  right: 0 !important;
}
.myService-card {
  height: 160px;
  background: white;
  box-shadow: 0 0 10px rgb(143, 135, 135);
  border-radius: 5px;
}
.myService-card p {
  font-family: "Poppins", sans-serif;
}
.myService-card h6 {
  font-family: "Poppins", sans-serif;
  color: #111430;
  font-weight: 800;
}
.card-intro strong {
  height: 37px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgb(189, 189, 189);
  padding: 5px 12px !important;
  margin-top: 3px;
}
